<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoicePlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4668D2211E24AEBC000C7C34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4668D23A1E24AEBD000C7C34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4668D2451E24AEBD000C7C34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
